<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab7c62">  <td>18/10/28 13:34:55</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.MergeLeadTestCase@c0a365]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 13:34:55</td>   <td>149</td> <td>&nbsp;</td><td title="&gt;&gt;MergeLeadTestCase.setData()[pri:0, instance:testcases.MergeLeadTestCase@c0a365]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@30504695</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>18/10/28 13:34:56</td>   <td>914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLeadTestCase.mergeLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.MergeLeadTestCase@c0a365]">mergeLead</td> 
  <td>main@30504695</td>   <td></td> </tr>
</table>
