<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>18/10/28 16:15:31</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.CreateLeadTestcase@183967b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/28 16:15:39</td>   <td>7631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeadTestcase.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeadTestcase@183967b]">createLead</td> 
  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 16:16:21</td>   <td>49222</td> <td title="&lt;&lt;ProjectMethods.endTestCase()[pri:0, instance:testcases.CreateLeadTestcase@183967b]">&lt;&lt;endTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/28 16:15:32</td>   <td>803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:testcases.CreateLeadTestcase@183967b]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/28 16:15:31</td>   <td>142</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeadTestcase.setData()[pri:0, instance:testcases.CreateLeadTestcase@183967b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12322214</td>   <td></td> </tr>
</table>
